<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
    <!--<script src="http://maps.google.com/maps/api/js?sensor=false"-->
            <!--type="text/javascript"></script>-->



</head>


<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <span>User Account</span>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo-4.png" class="img-responsive"/>
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
    <img class="img-responsive" src="/image/wood.png"
         style="margin-top: -75px;"/>

    <div id="container" style=" margin-top: 25px"></div>
    <script language="JavaScript">
        function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Lat', 'Long', 'Name'],
                [27.687913, 85.307459, 'Work'],
//                [37.4289, -122.1697, 'University'],
//                [37.6153, -122.3900, 'Airport'],
//                [37.4422, -122.1731, 'Shopping']
            ]);

            // Set chart options
            var options = {
                showTip: true,
                zoomLevel:19,
                showTooltip: true,
                showInfoWindow: true,
                useMapTypeControl: true,
                mapType: 'normal',
                mapTypeControl:false
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.Map(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>
</div>

<!-- end of container -->
<div th:replace="common/header :: common-footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
